<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Expédition</title>
</head>
<body>

    {% extends "template.html" %}
    {% block content %}

    <h2 class="logo">🔔Fils de contention individualisés | ✨Made 🇫🇷 | Expédition</h2>

    {% if ortho_name %}
        <p>Docteur {{ortho_name}}, bonjour @toute l'équipe du cabinet</p>
    {% else %}
        <p>Docteur
        <input type="text" id="ortho_name" size="10">, bonjour @toute l'équipe du cabinet</p>
    {% endif %}

    <p>Veuillez trouver ci-joint l'attestation de conformité, en format .PDF, de vos patients :</p>
    {% if not patients %}
        <ul id="patient_liste">
            <li><input type="text" id = "patient" name="patient"></li>
        </ul>
        <button onclick="add_patient();">Ajouter un patient</button>
    {% else %}
        <ul>
            {% for patient in patients %}
                <li>{{patient}}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <p>Les fils de contention, N°(Suivi), sont en route et ils seront déposés dans votre boite aux lettres.</p>
    {% endblock %}
</body>
</html>