 <!DOCTYPE html>
<html lang="en" dir="ltr">
 <head>
   <meta charset="utf-8">
   <title>Flask Parent Template</title>
   <link rel="stylesheet" href="{{ url_for('static',filename='css/template.css') }}">
 </head>
 <body>
    <header>
      <div class="container">
      </div>
    </header>

    {% block content %}
    {% endblock %}

    <p>Par la même occasion, nous vous remercions de la confiance que vous accordez ainsi à nos contentions.</p>
    <p>Bien cordialement,<br>
    ----<br>
        <strong>L’équipe </strong><a href="https://winnovemed.com/">Winnove Medical</a><br>
        <font color="blue">Fixe : </font>02 44 84 86 44<br>
        <font color="blue">Adresse : </font>1 rue de Paris, 35510 Cesson-Sévigné</p>

    {% if not ortho_name %}
    <label>De :<input type="text" id="from" size="10"></label>
    <label>Mot de passe :<input type="password" id="password" size="10"></label><br>
    <label>Envoyer à :<input type="text" id="to" size="10"></label>
    <label>Objet :<input type="text" id="subject" size="10"></label><br><br>
    <button type="button" onclick="send_mail();">Envoyer mail</button>
    {% endif %}
    <script type="text/javascript" src="./static/js/functions.js"></script>
 </body>
</html>