<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Validation</title>
</head>
<body>

    {% extends "template.html" %}
    {% block content %}

    <h2 class="logo">🔔Fils de contention individualisés | ✨Made 🇫🇷 | Validation</h2>

    {% if ortho_name %}
        <p>Bonjour Docteur {{ortho_name}}, bonjour @toute l'équipe du cabinet,</p>
    {% else %}
        <p>Bonjour Docteur
        <input type="text" id="ortho_name" size="10">, bonjour @toute l'équipe du cabinet,</p>
    {% endif %}

    <p>✅ Nous avons bien pris en compte vos commandes de fil pour vos patients :</p>
    {% if not patients %}
        <ul id="patient_liste">
            <li><input type="text" id = "patient" name="patient"></li>
        </ul>
        <button onclick="add_patient();">Ajouter un patient</button>
    {% else %}
        <ul>
            {% for patient in patients %}
                <li>{{patient}}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% endblock %}
</body>
</html>